* {
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: sans-serif;
}

main {
    background: white;
    margin: 0 auto;
    padding: 2em;
    max-width: 34em;
    box-shadow: 0.5em 1em 0.5em -0.5em #777;
}

.loader {
    background: lightgreen;
}

.hide {
    display: none;
}

.show {
    display: block
}

/* general styles

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

header styles

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

section styles

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}*/
