body {
    font-family: 'Nexa Light';
}

h1 {
    font-family: 'Nexa Bold';
    text-align: center;
}

img {
    height: 600px;
    /*width: 65%;*/
    margin-left: 300px;
    float: left;
    transition: .9s cubic-bezier(.12,-0.61,.53,.91);
}

body > div > img:nth-child(2) {
    margin-top: -1400px;
}

.offscreen {
    transform: translate(0, -700px);

}

.onscreen {
    transform: translate(0px, 800px);
    transition: .5s cubic-bezier(.48,.03,.58,.97);
}

body > button:nth-child(3) {
    margin-top: 615px;
    margin-left: -440px;
}

button {
    padding: 5px;
    background-color: darkgrey;
    margin-right: 10px;
}
