body {
    background-color: #f5f5f5;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-family: 'Nexa Bold';
    text-align: center;
}

h2 {
    font-family: 'Nexa Light';
    margin: 0px;
    margin-bottom: 15px;
    color: #ffffff;
}

section {
    background-color: #5c9cc6;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 25px;
    margin: 30px;
    margin-left: 120px;
    width: 50%;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 12, .2);
}

label {
    padding: 8px;
    border-radius: 10px;
    padding-right: 12px;
    font-family: 'Nexa Light';
}

input {
    visibility: hidden;
}

label:hover {
    background-color: #cee0ed;
}

[name="Paars"]+label {
    background-color: mediumpurple;
}

[name="Roze"]+label {
    background-color: lightpink;
}

[name="Blauw"]+label {
    background-color: lightcyan;
}

[name="Groen"]+label {
    background-color: lightgreen;
}

[name="Oranje"]+label {
    background-color: coral;
}

[name="Geel"]+label {
    background-color: lightyellow;
}

[name="Rood"]+label {
    background-color: lightcoral;
}

:checked+label {
    background-color: #ffffff;
}

img {
    width: 19%;
    height: 350px;
    margin-bottom: 2px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 12, .2);
}

.zichtbaar {
    display: none;
}

